:root {
  --color-textMain: rgba(255, 255, 255, 0.87);
  --color-textDescription: rgba(219, 218, 218, 0.87);
  --color-textLink: #5EEAD4;

  --color-backgroundFirst: #09090B;
  --color-backgroundSecond: #111111;

  --color-border-content: #1e1e1e; 

  --button-background: teal;
  --color-text-button: white;

  --input-focus-border: teal;
}


.light-theme {
  --color-textMain: rgba(0, 0, 0, 0.87);
  --color-textDescription: rgba(0, 0, 0, 0.6);
  --color-textLink: #3f9b8d;

  --color-backgroundFirst: #FFFFFF;
  --color-backgroundSecond: #F5F5F5;

  --color-border-content: #d1d0d0; 

  --button-background: teal;
  --color-text-button: white;

  --input-focus-border: teal;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  color: var(--color-textMain);
  background-color: var(--color-backgroundFirst);
}